Repository rysk-finance/dynamic-hedging, pull requests merged in 2023-01, with the labels that each got.

#292 Move front-end to Goerli
  packages/contracts.json
  packages/contracts/contracts.json
  packages/front-end/.env.testnet
  packages/front-end/src/App.tsx
  packages/front-end/src/components/HeaderPopover.tsx
  packages/front-end/src/components/VaultInfo.tsx
  packages/front-end/src/components/VaultTrades.tsx
  packages/front-end/src/components/vault/VaultContent.tsx
  packages/front-end/src/config/constants.ts
  packages/front-end/src/contracts.json
  packages/front-end/src/types.ts
Labels: front-end

#321 Performance chart public launch
  packages/front-end/.eslintrc.json
  packages/front-end/package-lock.json
  packages/front-end/package.json
  packages/front-end/src/components/VaultChart.tsx
  packages/front-end/src/components/VaultPerformance.tsx
  packages/front-end/src/components/VaultPerformance/README.md
  packages/front-end/src/components/VaultPerformance/VaultPerformance.tsx
  packages/front-end/src/components/VaultPerformance/VaultPerformance.types.ts
  packages/front-end/src/components/VaultPerformance/subcomponents/Chart.tsx
  packages/front-end/src/components/VaultPerformance/subcomponents/Disclaimer.tsx
  packages/front-end/src/components/VaultPerformance/subcomponents/Error.tsx
  packages/front-end/src/components/VaultPerformance/subcomponents/FadeWrapper.tsx
  packages/front-end/src/components/VaultPerformance/subcomponents/Loading.tsx
  packages/front-end/src/components/VaultPerformance/subcomponents/Stats.tsx
  packages/front-end/src/components/VaultStats.tsx
  packages/front-end/src/components/shared/AlphaBanner.tsx
  packages/front-end/src/components/vault/VaultContent.tsx
  packages/front-end/src/utils/rounding.ts
  packages/front-end/tsconfig.json
Labels: front-end

#328 Noindex, Nofollow for all deployments except prod
  packages/front-end/package-lock.json
  packages/front-end/package.json
  packages/front-end/src/App.tsx
  packages/front-end/src/components/LPStats.tsx
  packages/front-end/src/config/constants.ts
  packages/front-end/src/hooks/useContract.tsx
Labels: front-end

#338 Yarn workspaces
  .github/workflows/hardhat.yml
  .gitignore
  README.md
  buildFrontEnd.sh
  package-lock.json
  package.json
  packages/contracts/.gitignore
  packages/contracts/deploy/localhost/LocalhostDeploy.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/package-lock.json
  packages/contracts/package.json
  packages/contracts/test/DynQuotePriceWithUtilisationGreeks.ts
  packages/contracts/test/Exploit-HegicAttackReplication.ts
  packages/contracts/test/Exploit-RROracleBetweenUpdateAttack.ts
  packages/contracts/test/LiquidityPool.ts
  packages/contracts/test/LiquidityPoolDepositWithdraw.ts
  packages/contracts/test/PerpHedgingReactor.ts
  packages/contracts/test/PerpHedgingReactorSc1.ts
  packages/contracts/test/PerpHedgingReactorSc2.ts
  packages/contracts/test/foundry/SABRVol.t.sol
  packages/contracts/tsconfig.json
  packages/front-end/.gitignore
  packages/front-end/package-lock.json
  packages/front-end/package.json
  packages/front-end/public/index.html
  yarn.lock
Labels: enhancement

#347 Package upgrades and cleaning
  package.json
  packages/contracts/deploy/arbitrum-goerli/setupProtocol.ts
  packages/contracts/deploy/arbitrum-goerli/setupProtocolAlpha.ts
  packages/contracts/global.d.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/test/BlackScholes.ts
  packages/contracts/test/Controls.ts
  packages/contracts/test/LiquidityPool.ts
  packages/contracts/test/LiquidityPoolAlpha.ts
  packages/contracts/test/LiquidityPoolAlphaDepositWithdraw.ts
  packages/contracts/test/LiquidityPoolAlphaWithManager.ts
  packages/contracts/test/LiquidityPoolDepositWithdraw.ts
  packages/contracts/test/LiquidityPoolPerpHedgingReactor.ts
  packages/contracts/test/LiquidityPoolUniswapV3HedgingReactor.ts
  packages/contracts/test/OptionProtocolGeneric.ts
  packages/contracts/test/OptionProtocolVaultHealth.ts
  packages/contracts/test/OracleCoreLogic.ts
  packages/contracts/test/PortfolioValuesFeedAlpha.ts
  packages/contracts/test/SABRVolatilityFeed.ts
  packages/contracts/tsconfig.json
  packages/contracts/utils/alpha-system-deployer.ts
  packages/contracts/utils/conversion-helper.ts
  packages/contracts/utils/generic-system-deployer.ts
  packages/contracts/utils/math.ts
  packages/front-end/.browserslistrc
  packages/front-end/.eslintrc.json
  packages/front-end/package.json
  packages/front-end/src/components/VaultPerformance/VaultPerformance.tsx
  packages/front-end/src/components/VaultTrades.tsx
  packages/front-end/src/components/optionsTrading/ReturnLineChart.tsx
  packages/front-end/src/components/shared/OptionSeriesInfo.tsx
  packages/front-end/src/components/vault/VaultContent.tsx
  packages/front-end/src/hooks/useTimeTilEpoch.ts
  packages/front-end/src/hooks/useUpdateEthPrice.ts
  packages/front-end/src/types/global.d.ts
  packages/front-end/src/utils.ts
  packages/front-end/src/utils/conversion-helper.ts
  packages/front-end/src/utils/helpers.ts
  yarn.lock
Labels: enhancement

#356 Rainbow Kit & Clean Up
  packages/front-end/.env.arbitrum
  packages/front-end/.env.mainnet
  packages/front-end/.env.testnet
  packages/front-end/package.json
  packages/front-end/public/index.html
  packages/front-end/public/kite-black.gif
  packages/front-end/src/App.css
  packages/front-end/src/App.tsx
  packages/front-end/src/clients/Apollo/Apollo.tsx
  packages/front-end/src/clients/WalletProvider/Wallet.tsx
  packages/front-end/src/clients/WalletProvider/components/Avatar.tsx
  packages/front-end/src/clients/WalletProvider/components/Connect.tsx
  packages/front-end/src/clients/WalletProvider/components/Disclaimer.tsx
  packages/front-end/src/clients/WalletProvider/styles/Theme.tsx
  packages/front-end/src/components/Favicon.tsx
  packages/front-end/src/components/Header.tsx
  packages/front-end/src/components/HeaderPopover.tsx
  packages/front-end/src/components/LPStats.tsx
  packages/front-end/src/components/LegalDisclaimer.tsx
  packages/front-end/src/components/OTC/OTCPageContent.tsx
  packages/front-end/src/components/RequiresWalletConnection.tsx
  packages/front-end/src/components/UserPosition.tsx
  packages/front-end/src/components/VaultInfo.tsx
  packages/front-end/src/components/VaultTrades.tsx
  packages/front-end/src/components/dashboard/BuyBack.tsx
  packages/front-end/src/components/dashboard/UserOptionsList.tsx
  packages/front-end/src/components/dashboard/UserVault.tsx
  packages/front-end/src/components/optionsTrading/OptionsTable.tsx
  packages/front-end/src/components/optionsTrading/Purchase.tsx
  packages/front-end/src/components/shared/Button.tsx
  packages/front-end/src/components/vault/PendingWithdrawBreakdown.tsx
  packages/front-end/src/components/vault/UnredeemedDepositBreakdown.tsx
  packages/front-end/src/components/vault/VaultContent.tsx
  packages/front-end/src/components/vault/VaultDeposit.tsx
  packages/front-end/src/components/vault/VaultStateManagement.tsx
  packages/front-end/src/components/vault/VaultWithdraw.tsx
  packages/front-end/src/config/constants.ts
  packages/front-end/src/contracts.json
  packages/front-end/src/hooks/useContract.tsx
  packages/front-end/src/hooks/useFathom.tsx
  packages/front-end/src/hooks/useUserPosition.ts
  packages/front-end/src/index.css
  packages/front-end/src/types.ts
  packages/front-end/src/utils/caseConvert.ts
  packages/front-end/src/utils/updateFavicon.ts
  packages/front-end/tailwind.config.js
  yarn.lock
Labels: enhancement, front-end

#370 Options Table UX Improvements
  packages/front-end/src/animation/FadeInOut.ts
  packages/front-end/src/animation/FadeInUpDelayed.ts
  packages/front-end/src/clients/WalletProvider/Wallet.tsx
  packages/front-end/src/components/dashboard/OptionsTable/OptionsTable.tsx
  packages/front-end/src/components/dashboard/OptionsTable/components/Disconnected.tsx
  packages/front-end/src/components/dashboard/OptionsTable/components/NoneFound.tsx
  packages/front-end/src/components/dashboard/OptionsTable/components/Table.tsx
  packages/front-end/src/components/dashboard/OptionsTable/hooks.ts
  packages/front-end/src/components/dashboard/OptionsTable/types.ts
  packages/front-end/src/components/dashboard/UserOptionsList.tsx
  packages/front-end/src/components/dashboard/UserVault.tsx
  packages/front-end/src/components/shared/Card.tsx
  packages/front-end/src/components/shared/LoadingOrError.tsx
  packages/front-end/src/enums/OpynActionType.ts
  packages/front-end/src/hooks/useExpiryPriceData/index.tsx
  packages/front-end/src/hooks/useExpiryPriceData/types.ts
  packages/front-end/src/pages/Dashboard.tsx
  packages/front-end/src/utils/conversion-helper.ts
  packages/front-end/tailwind.config.js
Labels: front-end, feature upgrade
