Repository rysk-finance/dynamic-hedging, pull requests merged in 2023-02, with the labels that each got.

#290 User Epoch PNL
  packages/front-end/.gitignore
  packages/front-end/src/components/dashboard/UserEpochPNL/README.md
  packages/front-end/src/components/dashboard/UserEpochPNL/UserEpochPNL.tsx
  packages/front-end/src/components/dashboard/UserEpochPNL/UserEpochPNL.types.ts
  packages/front-end/src/components/dashboard/UserVault.tsx
  packages/front-end/src/hooks/useUserPosition.ts
  packages/front-end/src/pages/Dashboard.tsx
  packages/front-end/src/utils/conversion-helper.ts
Labels: front-end, new feature

#394 Table updates
  packages/contracts/copyABIsToFrontend.sh
  packages/front-end/global.d.ts
  packages/front-end/src/abis/AlphaOptionHandler_ABI.ts
  packages/front-end/src/abis/AlphaPortfolioValuesFeed_ABI.ts
  packages/front-end/src/abis/BeyondPricer_ABI.ts
  packages/front-end/src/abis/LiquidityPool_ABI.ts
  packages/front-end/src/abis/OptionCatalogue_ABI.ts
  packages/front-end/src/abis/OptionExchange_ABI.ts
  packages/front-end/src/abis/OptionRegistry_ABI.ts
  packages/front-end/src/abis/PriceFeed_ABI.ts
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker.tsx
  packages/front-end/src/components/optionsTrading/OptionsTable.tsx
  packages/front-end/src/components/optionsTrading/Purchase.tsx
  packages/front-end/src/components/shared/ETHPriceIndicator.tsx
  packages/front-end/src/state/types.ts
  packages/front-end/src/utils/formatShortDate.ts
  packages/front-end/src/utils/helpers.ts
Labels: front-end

#411 Paginate dates
  packages/front-end/src/Icons/LeftArrow.tsx
  packages/front-end/src/Icons/RightArrow.tsx
  packages/front-end/src/Icons/index.ts
  packages/front-end/src/animation/FadeInOutFixedDelay.ts
  packages/front-end/src/assets/wave-lines.png
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/components/ArrowButton.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/components/DateList.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/hooks/useExpiryDates.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/index.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/types.ts
  packages/front-end/src/components/optionsTrading/OptionsTradingContent.tsx
  packages/front-end/src/components/shared/RadioButtonList.tsx
Labels: front-end

#390 Tenderly Operate Simulation
  packages/front-end/src/components/optionsTrading/Purchase.tsx
  packages/front-end/src/hooks/useTenderlySimulator/index.tsx
  packages/front-end/src/hooks/useTenderlySimulator/types.ts
Labels: enhancement, front-end

#423 Alpha bug fixes
  packages/front-end/.env.testnet
  packages/front-end/src/components/VaultPerformance/VaultPerformance.tsx
  packages/front-end/src/components/dashboard/UserEpochPNL/UserEpochPNL.tsx
  packages/front-end/src/components/dashboard/UserVault.tsx
Labels: bug, front-end

#413 Option chain UI improvements
  packages/front-end/public/icons/ethereum.svg
  packages/front-end/public/index.html
  packages/front-end/src/Icons/DownChevron.tsx
  packages/front-end/src/Icons/UpChevron.tsx
  packages/front-end/src/Icons/index.ts
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/index.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/components/DateList.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/hooks/useExpiryDates.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/index.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/types.ts
  packages/front-end/src/components/optionsTrading/OptionsTable.tsx
  packages/front-end/src/components/optionsTrading/OptionsTradingContent.tsx
  packages/front-end/src/components/optionsTrading/Purchase.tsx
  packages/front-end/src/state/types.ts
  packages/front-end/tailwind.config.js
Labels: front-end
