Repository rysk-finance/dynamic-hedging, pull requests merged in 2023-05, with the labels that each got.

#487 Leaderboard link
  packages/front-end/src/Icons/Podium.tsx
  packages/front-end/src/Icons/index.ts
  packages/front-end/src/components/Header.tsx
Labels: front-end

#498 Sentry source maps
  packages/front-end/config-overrides.js
  packages/front-end/package.json
  packages/front-end/src/hooks/useSentry.tsx
  packages/front-end/src/utils/logError.ts
  packages/front-end/upload-sourcemaps.js
  yarn.lock
Labels: enhancement

#504 Disable closing
  packages/front-end/src/components/dashboard/OptionsTable/OptionsTable.tsx
  packages/front-end/src/components/dashboard/OptionsTable/hooks.tsx
  packages/front-end/src/components/optionsTrading/Chain/components/Body.tsx
  packages/front-end/src/components/optionsTrading/Modals/BuyOptionModal/index.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/index.tsx
  packages/front-end/src/utils/logError.ts
Labels: bug, front-end

#514 Change expired for closed
  packages/front-end/src/components/dashboard/OptionsTable/OptionsTable.tsx
Labels: front-end

#518 Update balances
  packages/front-end/src/clients/WalletProvider/components/Connect.tsx
  packages/front-end/src/hooks/useBalances.tsx
Labels: front-end, feature upgrade

#519 Refresh Icon
  packages/front-end/src/Icons/Refresh.tsx
  packages/front-end/src/Icons/index.ts
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/components/CurrentPrice.tsx
Labels: enhancement

#517 Collateral check selling
  packages/front-end/src/components/optionsTrading/Modals/CloseShortOptionModal/components/Pricing.tsx
  packages/front-end/src/components/optionsTrading/Modals/CloseShortOptionModal/hooks/useShortPositionData.tsx
  packages/front-end/src/components/optionsTrading/Modals/CloseShortOptionModal/index.tsx
  packages/front-end/src/components/optionsTrading/Modals/CloseShortOptionModal/types.ts
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/components/Pricing.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/hooks/useSellOption.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/index.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/types.ts
  packages/front-end/src/utils/helpers.ts
Labels: bug, front-end, feature upgrade

#524 Buy/Sell column colors
  packages/front-end/src/components/optionsTrading/Chain/components/Body.tsx
  packages/front-end/src/components/optionsTrading/Chain/components/Cells/index.tsx
Labels: enhancement, front-end

#523 Calc IV client side
  packages/front-end/src/hooks/useInitialData/utils.ts
Labels: enhancement, front-end

#526 Dashboard cache
  packages/front-end/src/components/dashboard/OptionsTable/OptionsTable.tsx
  packages/front-end/src/components/dashboard/OptionsTable/hooks.tsx
  packages/front-end/src/hooks/useGraphPolling.tsx
  packages/front-end/src/state/types.ts
Labels: enhancement, front-end

#528 Better buffers
  packages/front-end/src/components/optionsTrading/Modals/BuyOptionModal/hooks/useBuyOption.tsx
  packages/front-end/src/components/optionsTrading/Modals/CloseShortOptionModal/hooks/useShortPositionData.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/hooks/useSellOption.tsx
Labels: enhancement, front-end

#529 Better transaction waiting
  packages/front-end/src/components/optionsTrading/Modals/Shared/utils/transactions.ts
Labels: enhancement, front-end

#530 Don't calculate the liquidation price for closed positions.
  packages/front-end/src/components/dashboard/OptionsTable/hooks.tsx
Labels: enhancement, front-end

#531 Remove Opyn subgraph
  packages/front-end/.env.arbitrum
  packages/front-end/.env.testnet
  packages/front-end/src/clients/Apollo/Apollo.tsx
  packages/front-end/src/hooks/useExpiryPriceData/index.tsx
Labels: front-end

#532 May 2023 Deps Updates
  package.json
  packages/contracts/package.json
  packages/front-end/package.json
  yarn.lock
Labels: front-end, dependencies

#533 Global price polling
  packages/front-end/src/components/Init.tsx
  packages/front-end/src/components/dashboard/OptionsTable/hooks.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/hooks/usePrice.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/index.tsx
  packages/front-end/src/hooks/useLatestEthPrice/useLatestEthPrice.tsx
  packages/front-end/src/state/GlobalContext.tsx
  packages/front-end/src/state/reducer.ts
  packages/front-end/src/state/types.ts
Labels: enhancement, front-end

#535 Sentry Init Once
  packages/front-end/src/hooks/useSentry.tsx
Labels: bug, front-end

#534 Fix expected payout condition and graph 0.1.12
  packages/front-end/.env.testnet
  packages/front-end/src/components/dashboard/OptionsTable/hooks.tsx
Labels: front-end

#542 UD 9.0.0 upgrade
  packages/front-end/package.json
  packages/front-end/src/hooks/useUnstoppableDomain.ts
  yarn.lock
Labels: front-end, dependencies

#545 Show TTE and untradeable warnings
  packages/front-end/package.json
  packages/front-end/src/components/optionsTrading/ActiveExpiryAlerts/index.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/components/ArrowButton.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/components/DateList.tsx
  packages/front-end/src/components/optionsTrading/index.tsx
  yarn.lock
Labels: front-end, feature upgrade

#548 Collateral slider
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/components/Filters.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/components/Pricing.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/hooks/useSellOption.tsx
  packages/front-end/src/state/GlobalContext.tsx
  packages/front-end/src/state/reducer.ts
  packages/front-end/src/state/types.ts
Labels: front-end, feature upgrade
