Repository rysk-finance/dynamic-hedging, pull requests merged in 2023-03, with the labels that each got.

#420 Chain filtering
  packages/front-end/.eslintrc.json
  packages/front-end/package.json
  packages/front-end/src/App.css
  packages/front-end/src/Icons/RyskFavicon.tsx
  packages/front-end/src/Icons/index.ts
  packages/front-end/src/animation/easing.ts
  packages/front-end/src/assets/circle-lines.png
  packages/front-end/src/assets/white-ascii-50.png
  packages/front-end/src/assets/white-ascii.png
  packages/front-end/src/assets/white-grid.png
  packages/front-end/src/clients/WalletProvider/Wallet.tsx
  packages/front-end/src/components/OTC/OTCPageContent.tsx
  packages/front-end/src/components/VaultMechanism.tsx
  packages/front-end/src/components/VaultPerformance/subcomponents/Stats.tsx
  packages/front-end/src/components/VaultRisks.tsx
  packages/front-end/src/components/VaultStrategy.tsx
  packages/front-end/src/components/dashboard/UserVault.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/components/CurrentPrice.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/components/Error.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/components/OneDayChange.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/hooks/usePrice.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/index.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/types.ts
  packages/front-end/src/components/optionsTrading/CustomOptionOrder.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/components/DateList.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/hooks/useExpiryDates.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/index.tsx
  packages/front-end/src/components/optionsTrading/Filters/Filters.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/Checkboxes.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/Reset.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/StrikeRange.tsx
  packages/front-end/src/components/optionsTrading/OptionsTable.tsx
  packages/front-end/src/components/optionsTrading/OptionsTradingContent.tsx
  packages/front-end/src/components/optionsTrading/Purchase.tsx
  packages/front-end/src/components/shared/OptionSeriesInfo.tsx
  packages/front-end/src/components/vault/VaultContent.tsx
  packages/front-end/src/hooks/useUpdateEthPrice.ts
  packages/front-end/src/state/GlobalContext.tsx
  packages/front-end/src/state/OptionsTradingContext.tsx
  packages/front-end/src/state/reducer.ts
  packages/front-end/src/state/types.ts
  packages/front-end/src/utils/conversion-helper.ts
  packages/front-end/tailwind.config.js
  yarn.lock
Labels: front-end

#432 Net DHV exposure column.
  packages/front-end/src/components/optionsTrading/Filters/components/Checkboxes.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/StrikeRange.tsx
  packages/front-end/src/components/optionsTrading/OptionsTable.tsx
  packages/front-end/src/state/types.ts
Labels: front-end

#430 Closing long positions
  packages/front-end/src/Icons/Close.tsx
  packages/front-end/src/Icons/Loading.tsx
  packages/front-end/src/Icons/index.ts
  packages/front-end/src/clients/Apollo/Apollo.tsx
  packages/front-end/src/clients/Apollo/Queries.ts
  packages/front-end/src/components/VaultPerformance/VaultPerformance.tsx
  packages/front-end/src/components/VaultTrades.tsx
  packages/front-end/src/components/dashboard/OptionsTable/hooks.tsx
  packages/front-end/src/components/dashboard/OptionsTable/types.ts
  packages/front-end/src/components/dashboard/UserEpochPNL/UserEpochPNL.tsx
  packages/front-end/src/components/dashboard/UserVault.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/hooks/useExpiryDates.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/StrikeRange.tsx
  packages/front-end/src/components/optionsTrading/OptionsTable.tsx
  packages/front-end/src/components/optionsTrading/OptionsTradingContent.tsx
  packages/front-end/src/components/optionsTrading/Purchase.tsx
  packages/front-end/src/components/optionsTrading/SellOptionModal/components/Disclaimer.tsx
  packages/front-end/src/components/optionsTrading/SellOptionModal/components/Header.tsx
  packages/front-end/src/components/optionsTrading/SellOptionModal/components/Modal.tsx
  packages/front-end/src/components/optionsTrading/SellOptionModal/components/Pricing.tsx
  packages/front-end/src/components/optionsTrading/SellOptionModal/hooks/usePositionData.tsx
  packages/front-end/src/components/optionsTrading/SellOptionModal/index.tsx
  packages/front-end/src/components/optionsTrading/SellOptionModal/types.ts
  packages/front-end/src/components/optionsTrading/SellOptionModal/utils/approveAllowance.ts
  packages/front-end/src/components/optionsTrading/SellOptionModal/utils/sell.ts
  packages/front-end/src/components/optionsTrading/hooks/useSellModal.tsx
  packages/front-end/src/components/shared/Button.tsx
  packages/front-end/src/enums/OperationType.ts
  packages/front-end/src/enums/RyskActionType.ts
  packages/front-end/src/hooks/useApproveExchange/index.tsx
  packages/front-end/src/hooks/useApproveTransfer/index.tsx
  packages/front-end/src/hooks/useExpiryPriceData/index.tsx
  packages/front-end/src/hooks/useGraphPolling.tsx
  packages/front-end/src/hooks/useSellOperate/index.tsx
  packages/front-end/src/hooks/useTenderlySimulator/index.tsx
  packages/front-end/src/state/GlobalContext.tsx
  packages/front-end/src/state/OptionsTradingContext.tsx
  packages/front-end/src/state/reducer.ts
  packages/front-end/src/state/types.ts
  packages/front-end/src/utils/conversion-helper.ts
Labels: front-end

#435 Options chain tutorial
  packages/front-end/package.json
  packages/front-end/src/Icons/Question.tsx
  packages/front-end/src/Icons/index.ts
  packages/front-end/src/clients/WalletProvider/components/Connect.tsx
  packages/front-end/src/components/Header.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/index.tsx
  packages/front-end/src/components/optionsTrading/ExpiryDatePicker/index.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/Checkboxes.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/Reset.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/StrikeRange.tsx
  packages/front-end/src/components/optionsTrading/OptionsTable.tsx
  packages/front-end/src/components/optionsTrading/OptionsTradingContent.tsx
  packages/front-end/src/components/optionsTrading/Tutorial/index.tsx
  packages/front-end/src/state/OptionsTradingContext.tsx
  packages/front-end/src/state/reducer.ts
  packages/front-end/src/state/types.ts
  packages/front-end/src/utils/caseConvert.ts
  packages/front-end/src/utils/helpers.ts
  yarn.lock
Labels: front-end

#439 Better numbers
  packages/front-end/package.json
  packages/front-end/src/animation/easing.ts
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/components/CurrentPrice.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/components/OneDayChange.tsx
  packages/front-end/src/components/optionsTrading/OptionsTable.tsx
  packages/front-end/src/components/optionsTrading/SellOptionModal/components/Pricing.tsx
  packages/front-end/src/components/shared/RyskCountUp/constants.ts
  packages/front-end/src/components/shared/RyskCountUp/index.tsx
  packages/front-end/src/components/shared/RyskCountUp/types.ts
  yarn.lock
Labels: bug, front-end

#440 Revert color and copy changes because Dan can't make his mind up.
  packages/front-end/src/components/optionsTrading/OptionsTable.tsx
  packages/front-end/src/components/optionsTrading/Tutorial/index.tsx
Labels: bug, front-end

#441 Unstoppable Domains
  packages/front-end/package.json
  packages/front-end/src/clients/WalletProvider/Wallet.tsx
  packages/front-end/src/clients/WalletProvider/components/Avatar.tsx
  packages/front-end/src/clients/WalletProvider/components/Connect.tsx
  packages/front-end/src/components/Header.tsx
  packages/front-end/src/hooks/useUnstoppableDomain.ts
  packages/front-end/src/state/GlobalContext.tsx
  packages/front-end/src/state/reducer.ts
  packages/front-end/src/state/types.ts
  yarn.lock
Labels: front-end

#443 VaultId from Graph, new addresses and subgraph url
  packages/front-end/.env.testnet
  packages/front-end/src/contracts.json
  packages/front-end/src/hooks/useSellOperate/index.tsx
  packages/front-end/src/hooks/useSellOperate/types.ts
Labels: front-end

#453 Update testnet SUBGRAPH_URL var to latest version.
  packages/front-end/.env.testnet
Labels: front-end, feature upgrade

#454 Update testnet SUBGRAPH_URL var to latest version.
  packages/front-end/.env.testnet
Labels: front-end, feature upgrade

#456 Update price and fees (Cherry Pick of #438)
  packages/front-end/src/components/optionsTrading/CollateralRequirement/index.tsx
  packages/front-end/src/components/optionsTrading/Purchase.tsx
  packages/front-end/src/components/optionsTrading/hooks/useQuoteOptionPrice.tsx
  packages/front-end/src/utils/helpers.ts
Labels: front-end

#459 Post audit FE fixes
  packages/front-end/src/abis/erc20_ABI.ts
  packages/front-end/src/components/optionsTrading/CloseOptionModal/utils/sell.ts
  packages/front-end/src/hooks/useSellOperate/index.tsx
Labels: front-end
