Repository rysk-finance/dynamic-hedging, pull requests merged in 2023-06, with the labels that each got.

#558 Close short balances
  packages/front-end/src/components/optionsTrading/Modals/CloseShortOptionModal/components/Pricing.tsx
  packages/front-end/src/components/optionsTrading/Modals/CloseShortOptionModal/hooks/useShortPositionData.tsx
  packages/front-end/src/components/optionsTrading/Modals/CloseShortOptionModal/types.ts
Labels: bug, front-end

#564 Break even prices
  packages/front-end/.env.testnet
  packages/front-end/src/components/dashboard/OptionsTable/components/Table.tsx
  packages/front-end/src/components/dashboard/OptionsTable/hooks.tsx
  packages/front-end/src/components/dashboard/OptionsTable/types.ts
  packages/front-end/src/components/optionsTrading/Modals/BuyOptionModal/components/Pricing.tsx
  packages/front-end/src/components/optionsTrading/Modals/BuyOptionModal/hooks/useBuyOption.tsx
  packages/front-end/src/components/optionsTrading/Modals/BuyOptionModal/types.ts
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/components/Pricing.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/hooks/useSellOption.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/types.ts
  packages/front-end/src/components/optionsTrading/Modals/Shared/utils/getQuote.ts
  packages/front-end/src/components/optionsTrading/Tutorials/Buy/index.tsx
  packages/front-end/src/components/optionsTrading/Tutorials/Sell/index.tsx
  packages/front-end/src/state/types.ts
Labels: enhancement, front-end

#573 Better dimming of chain row sides when untradeable
  packages/front-end/src/components/optionsTrading/Chain/components/Body.tsx
  packages/front-end/src/components/optionsTrading/Chain/components/Cells/index.tsx
  packages/front-end/src/components/optionsTrading/Chain/components/Cells/types.ts
Labels: front-end, feature upgrade

#577 [RYSK-82] Fix empty positions labelling
  packages/front-end/src/components/dashboard/OptionsTable/OptionsTable.tsx
Labels: front-end

#579 [RYSK-82] Fix empty positions labelling
  packages/front-end/src/components/dashboard/OptionsTable/OptionsTable.tsx
  packages/front-end/src/components/dashboard/OptionsTable/hooks.tsx
Labels: front-end

#580 [RYSK-6] Hide collateral label on inactive positions
  packages/front-end/src/components/dashboard/OptionsTable/components/Table.tsx
Labels: front-end

#578 Deployment script updates
  .github/scripts/clean_deployments.sh
Labels: bug

#584 Display overall P/L & Delta
  packages/front-end/src/clients/WalletProvider/Wallet.tsx
  packages/front-end/src/components/dashboard/OptionsTable/hooks.tsx
  packages/front-end/src/components/optionsTrading/Modals/BuyOptionModal/hooks/useBuyOption.tsx
  packages/front-end/src/components/optionsTrading/Modals/CloseOptionModal/hooks/usePositionData.tsx
  packages/front-end/src/components/optionsTrading/Modals/CloseShortOptionModal/hooks/useShortPositionData.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/hooks/useSellOption.tsx
  packages/front-end/src/components/optionsTrading/Modals/Shared/utils/getQuote.ts
  packages/front-end/src/components/optionsTrading/UserStats/components/Card/index.tsx
  packages/front-end/src/components/optionsTrading/UserStats/hooks/useUserStats.tsx
  packages/front-end/src/components/optionsTrading/UserStats/index.tsx
  packages/front-end/src/components/optionsTrading/UserStats/types.ts
  packages/front-end/src/components/optionsTrading/UserStats/utils/calculateDelta.ts
  packages/front-end/src/components/optionsTrading/UserStats/utils/calculatePnL.ts
  packages/front-end/src/components/optionsTrading/UserStats/utils/getTokenLists.ts
  packages/front-end/src/components/optionsTrading/hooks/useModal.tsx
  packages/front-end/src/components/optionsTrading/index.tsx
  packages/front-end/src/components/shared/utils/getQuote/index.ts
  packages/front-end/src/components/shared/utils/getQuote/types.ts
  packages/front-end/src/hooks/useInitialData/graphQuery.ts
  packages/front-end/src/hooks/useInitialData/index.tsx
  packages/front-end/src/hooks/useInitialData/types.ts
  packages/front-end/src/hooks/useInitialData/utils.ts
  packages/front-end/src/hooks/useInitialData/utils/buildOracleHashMap.ts
  packages/front-end/src/hooks/useInitialData/utils/getChainData.ts
  packages/front-end/src/hooks/useInitialData/utils/getExpiries.ts
  packages/front-end/src/hooks/useInitialData/utils/getLiquidationCalculationParameters.ts
  packages/front-end/src/hooks/useInitialData/utils/getLiquidityPoolInfo.ts
  packages/front-end/src/hooks/useInitialData/utils/getOperatorStatus.ts
  packages/front-end/src/hooks/useInitialData/utils/getUserPositions.ts
  packages/front-end/src/hooks/useInitialData/utils/getUserVaults.ts
  packages/front-end/src/hooks/useInitialData/utils/index.ts
  packages/front-end/src/state/GlobalContext.tsx
  packages/front-end/src/state/reducer.ts
  packages/front-end/src/state/types.ts
Labels: enhancement, front-end

#587 Whitelist for early LP
  packages/front-end/src/components/vault/VaultDeposit.tsx
  packages/front-end/src/state/VaultContext.tsx
  packages/front-end/src/state/constants.ts
  packages/front-end/src/state/types.ts
Labels: front-end, feature upgrade

#588 Active P/L widget
  packages/front-end/src/components/optionsTrading/UserStats/hooks/useUserStats.tsx
  packages/front-end/src/components/optionsTrading/UserStats/index.tsx
  packages/front-end/src/components/optionsTrading/UserStats/types.ts
  packages/front-end/src/components/optionsTrading/UserStats/utils/calculatePnL.ts
  packages/front-end/src/hooks/useInitialData/index.tsx
  packages/front-end/src/state/GlobalContext.tsx
  packages/front-end/src/state/reducer.ts
  packages/front-end/src/state/types.ts
Labels: front-end, feature upgrade

#589 Disable geo-block in dev
  packages/front-end/src/hooks/useGeoBlock/useGeoBlock.ts
Labels: front-end

#591 Deps updates June 2023
  .github/workflows/hardhat.yml
  package.json
  packages/contracts/package.json
  packages/front-end/package.json
  yarn.lock
Labels: dependencies

#592 Update contract addresses for mainnet frontend.
  packages/front-end/.env.local
  packages/front-end/package.json
  packages/front-end/src/config/constants.ts
  packages/front-end/src/contracts.json
  packages/front-end/src/types.ts
Labels: front-end
