Repository rysk-finance/dynamic-hedging, pull requests merged in 2023-07, with the labels that each got.

#598 Disable vault deposit and show message if geo-blocked.
  packages/front-end/src/components/vault/VaultDeposit.tsx
Labels: front-end

#609 Fix negative value on DHV utilisation.
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/components/CurrentPrice.tsx
  packages/front-end/src/components/optionsTrading/Modals/BuyOptionModal/components/Pricing.tsx
  packages/front-end/src/components/optionsTrading/Modals/CloseShortOptionModal/components/Pricing.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/components/Pricing.tsx
  packages/front-end/src/hooks/useInitialData/utils/getLiquidityPoolInfo.ts
  packages/front-end/src/state/GlobalContext.tsx
  packages/front-end/src/state/types.ts
Labels: bug, front-end

#611 Remove strike range filter
  packages/front-end/src/components/optionsTrading/Chain/components/Body.tsx
  packages/front-end/src/components/optionsTrading/Filters/Filters.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/Checkboxes.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/Reset.tsx
  packages/front-end/src/components/optionsTrading/Filters/components/StrikeRange.tsx
  packages/front-end/src/state/GlobalContext.tsx
  packages/front-end/src/state/reducer.ts
  packages/front-end/src/state/types.ts
Labels: front-end

#612 USDC swap banner
  packages/front-end/src/App.tsx
  packages/front-end/src/animation/FadeInDownDelayed.ts
  packages/front-end/src/clients/WalletProvider/components/Disclaimer.tsx
  packages/front-end/src/components/Header.tsx
  packages/front-end/src/components/dashboard/index.tsx
  packages/front-end/src/components/optionsTrading/index.tsx
  packages/front-end/src/components/vault/VaultContent.tsx
  packages/front-end/tailwind.config.js
Labels: front-end

#623 Remove whitelist
  packages/front-end/src/components/vault/VaultDeposit.tsx
  packages/front-end/src/state/VaultContext.tsx
  packages/front-end/src/state/constants.ts
  packages/front-end/src/state/types.ts
Labels: front-end

#628 Asymmetrical expiries
  packages/front-end/src/components/optionsTrading/Chain/components/Body.tsx
  packages/front-end/src/components/optionsTrading/Modals/BuyOptionModal/index.tsx
  packages/front-end/src/components/optionsTrading/Modals/SellOptionModal/index.tsx
  packages/front-end/src/components/optionsTrading/UserStats/utils/calculateDelta.ts
  packages/front-end/src/state/types.ts
Labels: bug, front-end

#629 Public RPC
  packages/front-end/src/clients/WalletProvider/Wallet.tsx
  packages/front-end/src/hooks/useLatestEthPrice/useLatestEthPrice.tsx
Labels: enhancement, front-end

#633 Bring back missing vault related code for launch.
  packages/front-end/src/components/VaultPerformance/subcomponents/Stats.tsx
  packages/front-end/src/components/VaultRisks.tsx
  packages/front-end/src/components/vault/VaultContent.tsx
Labels: front-end

#632 Set trading page to home
  packages/front-end/src/App.tsx
  packages/front-end/src/components/Header.tsx
  packages/front-end/src/config/appPaths.ts
Labels: front-end

#631 WebSocket RPC
  packages/contracts/copyABIsToFrontend.sh
  packages/front-end/src/abis/chainlink/AggregatorV3__ABI.ts
  packages/front-end/src/abis/chainlink/EACAggregatorProxy__ABI.ts
  packages/front-end/src/clients/WalletProvider/Wallet.tsx
  packages/front-end/src/components/Init.tsx
  packages/front-end/src/contracts.json
  packages/front-end/src/hooks/useEthUsdPriceChangeHandler.ts
  packages/front-end/src/hooks/useLatestEthPrice/useLatestEthPrice.tsx
  packages/front-end/src/types.ts
Labels: front-end

#640 Post launch UI bugs
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/components/CurrentPrice.tsx
  packages/front-end/src/components/optionsTrading/AssetPriceInfo/index.tsx
  packages/front-end/src/components/optionsTrading/hooks/useMinuteUpdate.tsx
  packages/front-end/src/components/optionsTrading/index.tsx
  packages/front-end/src/hooks/useInitialData/index.tsx
  packages/front-end/src/state/GlobalContext.tsx
Labels: bug, front-end

#636 Tutorial mode link updates.
  packages/front-end/src/components/optionsTrading/Chain/components/Head.tsx
  packages/front-end/src/components/optionsTrading/UserStats/components/PositionsTable/components/Head.tsx
  packages/front-end/src/components/shared/RyskToolTip/index.tsx
  packages/front-end/src/config/links.ts
Labels: front-end

#638 Better Dapp icon.
  packages/front-end/public/favicon-old.ico
  packages/front-end/public/favicon.ico
  packages/front-end/public/favicon_disconnected.ico
  packages/front-end/public/index.html
  packages/front-end/src/App.tsx
  packages/front-end/src/components/Favicon.tsx
Labels: front-end
